# Application
APP_NAME=matmper/php-discord-webhook
APP_ENV=testing

# Discord Webhook Test
DISCORD_WEBHOOK_ID=1136823866732331089
DISCORD_WEBHOOK_TOKEN=TlYDolJN2-Q35w_Yr8CjFTbiAL3qq8QHKhbkA3iYkg_1-v4tJNguGCY04_NDRBhOkpeV

# Discord Webhook bot name
DISCORD_WEBHOOK_BOT_NAME='Webhook Bot'
